[Unit]
Description=RefMap Wind Assessment Service
After=network.target

[Service]
Type=simple
User=george
WorkingDirectory=/home/george/Documents/Microlab/RefMap/-RefMap-WP5_Dashboard/backend/wind_assessment
ExecStart=/tools/miniconda3/envs/RefMapDashboard/bin/python app.py
Restart=on-failure
Environment=FLASK_ENV=production
Environment=PORT=4002

[Install]
WantedBy=multi-user.target
